h1 {
  text-align: center;
}

h2.intro {
  color: red;
  text-align: center;
}

p.intro {
  color: blueviolet;
  text-align: center;
  font-size: 15px;
}

img.intro {
  width: 300px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
